
<div class="flex flex-col items-center justify-center gap-4">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col gap-4" }) do |f| %>

<!--  <fieldset class="fieldset gap-4 bg-base-200 border-base-300 m-auto rounded-box w-xs border p-4">-->
    <legend class="fieldset-legend">Sign up</legend>

    <%= f.label :email, class: "floating-label" do %>
      <span>Your email</span>
      <%= f.email_field :email, placeholder: "Your Email", autofocus: true, autocomplete: "email", class: "input" %>
      <%= render "devise/shared/field_error", input_name: :email %>
    <% end %>

    <%= f.label :email, class: "floating-label" do %>
      <span>Password</span>
      <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "input" %>
      <%= render "devise/shared/field_error", input_name: :password %>
      <% if @minimum_password_length %>
        <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
      <% end %>
    <% end %>

    <%= f.label :password_confirmation, class: "floating-label" do %>
    <span>Password confirmation</span>
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "new-password", class: "input" %>
    <%= render "devise/shared/field_error", input_name: :password_confirmation %>
    <% end %>

    <%= f.submit "Sign up", class: "btn btn-success mt-4" %>
<!--  </fieldset>-->
<% end %>

<%= render "devise/shared/links" %>
</div>
