
<% unless friend_requests.empty? && sent_requests.empty? %>

<div class="m-4">

<%= render "friends/friend_requests", friend_requests: friend_requests if friend_requests.any? %>

<%= render "friends/friend_sent_requests", sent_requests: sent_requests if sent_requests.any? %>

</div>
<% end %>

<ul class="list rounded-box gap-1 shadow-md">
  <% friends.each do |friend| %>
    <li class="list-row font-bold">
      <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>
      <div>
        <div><%= friend.email %></div>
        <div class="text-xs uppercase font-semibold opacity-60"></div>
      </div>
      <%= button_to destroy_by_friend_friendships_path(friend),
                    method: :delete,
                    form: {data: {turbo_confirm: t("friendships.actions.remove_friend?")}},
                    class: "btn btn-square btn-ghost" do %>
        <%= heroicon "user-minus", class: "size-5 text-error" %>
      <% end %>
    </li>
  <% end %>

</ul>

<%= render Fab::ContainerComponent.new(icon: "user-plus", type: :success) do |fab| %>
  <% fab.with_item(icon: "link", path: invitation_links_path, method: :post, label: "Invite by link") %>
  <% fab.with_item(icon: "at-symbol", type: :secondary, path: new_friendship_path(format: :turbo_stream), method: :get, label: "Invite by email") %>
<% end %>