<!-- name of each tab group should be unique -->
<div class="tabs tabs-box m-2 mt-8">
  <label class="tab">
    <input checked type="radio" name="home_widget_tabs"/>
    <%= heroicon "clock", class: "size-5 me-2" %>
    Recently visited
  </label>
  <div class="tab-content bg-base-100 border-base-300 p-3 min-h-[50dvh]">
    <%= render partial: "widgets/shortcut_item",
               collection: @recently_visited,
               as: :shopping_list %>
  </div>


  <% groups.each_with_index do |group, index| %>
    <label class="tab">
      <input type="radio" name="home_widget_tabs"/>
      <%= heroicon "rectangle-group", class: "size-5 me-2" %>
      <%= group.name %>
    </label>
    <div class="tab-content bg-base-100 border-base-300 p-3 min-h-[50dvh]">
      <%= render partial: "widgets/shortcut_item",
                 collection: group.shopping_lists,
                 as: :shopping_list %>
    </div>
  <% end %>
</div>