<div data-controller="home">
  <div data-home-target="bannerContainer">
    <div id="home_banner" data-home-target="banner" class="bg-primary/50 text-center p-6 pb-3 shadow-sm">
      <h1 class="text-2xl font-bold text-primary-content">Create a new shopping list</h1>
      <h2 class="text-xl font-semibold mt-3 text-secondary-content">What's running low? 🛒</h2>
    </div>
    <h1 id="home_hint" data-turbo-temporary data-turbo-cache="false" data-home-target="hint" class="text-center text-lg font-bold bg-success/10 text-success p-2 mt-4 hidden">
      Add first product
    </h1>
  </div>
  <div data-home-target="form_container" class="text-center pt-6 px-4">
    <%= form_with url: shopping_lists_path, method: :post, scope: :shopping_list_item, data: { home_target: "form" }, class: "flex gap-2 items-center mt-6 justify-center" do |f| %>
      <%= f.label :name, class: "floating-label" do %>
        <span></span>
        <%= f.text_field :name, placeholder: "Add first product...", autofocus: false, required: true, autocomplete: "off",
                         "data-action": "focus->home#hideBanner blur->home#showBanner",
                         class: "m-2 border-b-2 text-lg border-secondary outline-none px-2 py-1" %>
      <% end %>
      <%= f.submit "Add", class: "btn btn-outline btn-sm btn-secondary", "data-action": "focus->home#hideBanner" %>
    <% end %>
  </div>
</div>

<%= render "widgets/ai_hints" %>

<%= render "widgets/home_shortcuts", groups: @groups %>

<%= render "fab" %>

